.backPanel {
  display: flex;
  flex-direction: column;
  background-color: #E3E3E3;
  width: 400px;
  height: 100%;
  padding: 50px 55px 100px 55px;
  box-sizing: border-box;
  align-items: center;
  border-radius: 0 30px 0 30px;
}

.QrContainer {
  height: 300px;
  width: 300px;
  background-color: #F2F2F2;
  align-items: center;
  justify-content: center;
  display: flex;
  border-radius: 30px;
}

.alignment {
  align-items: start;
  margin-bottom: 20px;
}

.buttonBar {
  display: flex;
  box-sizing: border-box;
  height: 60px;
  width: 100%;
  padding: 10px 0px 10px 0px;
  gap: 20px;
}
